name: Document Code

on: push

jobs:
  deploy_docs:
    runs-on: macos
    steps:
    - uses: actions/checkout@v1
    - name: Publish Jazzy Docs
      uses: steven0351/publish-jazzy-docs@v1
      with:
        personal_access_token: ${{ secrets.ACCESS_TOKEN }}
        args: "--min-acl private --theme jony"
